.section_mensagem{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
}
.main_mensagem{
    display: flex;
    width: 90%;
}
.div_mensagem_pt{
    width: 100%;
    height: 300px;
    display: flex;
    flex-direction: column;
    overflow: auto;
    margin-right: 10px;
    padding: 10px;
}
.div_mensagem_in{
    width: 100%;
    height: 300px;
    display: flex;
    flex-direction: column;
    overflow: auto;
    padding: 10px;
}